<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
   <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>


  <%= render 'home/header'	%>
  <div class="container">
   <div class="row">
    <div class="col-md-12 text-justify">

     <%= yield %>

   </div>
 </div>
</div>
</body>
</html>